@import '../../node_modules/codemirror/lib/codemirror.css';
@import '../../node_modules/codemirror/theme/solarized.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(240, 240, 240);
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}