@import '../../node_modules/codemirror/lib/codemirror.css';
@import '../../node_modules/codemirror/theme/3024-day.css';

.CodeMirrorWrapper {
  display: grid;
  place-items: center;
}

.CodeMirror {
  margin: 1in;
  width: 210mm;
  height: 297mm;
  outline: none;
}

.CodeMirror-scroll {
  padding: 1in;
}